In [2]:
import pandas as pd
from scipy import stats

In [3]:
data=pd.read_csv("Costomer+OrderForm.csv")
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [4]:
Phillippines=data['Phillippines'].value_counts()
Phillippines

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [5]:
Indonesia=data['Indonesia'].value_counts()
Indonesia

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [6]:
Malta=data['Malta'].value_counts()
Malta

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [7]:
India=data['India'].value_counts()
India

Error Free    280
Defective      20
Name: India, dtype: int64

In [8]:
statistic,p_val,df,exp_tab = stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
round(p_val,4)

0.2771

In [10]:
if p_val < 0.05:
    print('Reject the null hypothesis at 5% level of significance and conclude that , there is a significant association between centers and defectives.')
else:
    print('Do not reject the null hypothesis at 5% level of significance and conclude that , there is no significant association between centers and defectives.')

Do not reject the null hypothesis at 5% level of significance and conclude that , there is no significant association between centers and defectives.